<!doctype html> 
<html> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="icon" href="https://cdn.frankerfacez.com/emoticon/76382/1">
        <style>
            body { 
                font-family: 'Roboto', sans-serif;
                background-color: #2a2d33;
                color: white;
            }
            .timestamp {
                font-size: 14px;
            }
            .emote {
                height: 1.5em;
            }
            .chatlines {
                padding: 0.5em;
            }
        </style>
        <title>{{.Channel}}</title>
        <h2>{{.Channel}}</h2>
    </head>
<body>
    <ul class="chatlines">
        {{range .Messages}}
            <div class="chatline">
                <span class="timestamp">{{.TimeStamp}}</span>
                <span class="username" style="color:{{.Color}};">
                    <b>{{.Username}}</b>
                </span>: 
                {{ .TextWithEmotes }}
            </div>
        {{end}}
    </ul>
</body>
</html>
